<h2>Uploaded Products</h2>
<table>
  <tr>
    <th>Product</th>
    <th>Uploaded Version</th>
    <th>Marketplace</th>
    <th>Catalog Name</th>
    <th>Available Version</th>
    <th>&nbsp;</th>
  </tr>
  {{range $name, $product := .OpsMgrProducts}}
  <tr>
    <td>{{$name}}</td>
    <td>{{$product.LatestVersion}}</td>
    <td>{{$product.Marketplace}}</td>
    <td>{{$product.MarketplaceProductName}}</td>
    <td>{{$product.MarketplaceTileVersion}}</td>
    <td>
      {{if $product.MarketplaceProductName}}<a href="/install/{{$product.Marketplace}}/{{$product.MarketplaceProductName}}">Install</a>{{else}}&nbsp;{{end}}
    </td>
  </tr>
  {{end}}
</table>

<h2>Pivotal Network Tiles</h2>
{{if .LoadingCatalogs}}<span>Catalog loading in progress...</span>{{end}}
<table>
  <tr>
    <th>Product</th>
    <th>Tile</th>
    <th>Version</th>
    <th>Size</th>
    <th>&nbsp;</th>
  </tr>
  {{range $tile := .PivNetTiles}}
  {{if $tile.Tile}}
  <tr>
    <td>{{$tile.Slug}}</td>
    <td>{{$tile.TileName}}</td>
    <td>{{$tile.TileVersion}}</td>
    <td>{{$tile.TileHumanSize}}</td>
    <td><a href="/install/{{$tile.MarketplaceSlug}}/{{$tile.Slug}}">Install</a></td>
  </tr>
  {{end}}
  {{end}}
</table>
