<h2>Uploaded Products</h2>
<table>
  <tr>
    <th>Product</th>
    <th>Uploaded Version</th>
    <th>Marketplace</th>
    <th>Catalog Name</th>
    <th>Available Version</th>
    <th>&nbsp;</th>
  </tr>
  {{range $name, $product := .OpsMgrProducts}}
  <tr>
    <td>{{$name}}</td>
    <td>{{$product.LatestVersion}}</td>
    <td>{{$product.Marketplace}}</td>
    <td>{{$product.MarketplaceProductName}}</td>
    <td>{{$product.MarketplaceTileVersion}}</td>
    <td>
      {{if $product.NewTileAvailable}}
      <a href="/install/{{$product.Marketplace}}/tile/{{$name}}">Install</a>
      {{else}}&nbsp;{{end}}
    </td>
  </tr>
  {{end}}
</table>

<h3>Actions</h3>
<a href="/deleteunused">Delete Unused Tiles</a>

<h2>Pivotal Network Tiles</h2>
{{$loading := .LoadingCatalogs}}
{{if $loading}}<span>Catalog loading in progress...</span>{{end}}
<table>
  <tr>
    <th>Product</th>
    <th>Tile</th>
    <th>Version</th>
    <th>Release Date</th>
    <th>Size</th>
    <th>&nbsp;</th>
  </tr>
  {{range $tile := .PivNetTiles}}
  {{if $tile.Tile}}
  <tr>
    <td>{{$tile.Slug}}</td>
    <td>{{$tile.TileName}}</td>
    <td>{{$tile.TileVersion}}</td>
    <td>{{$tile.ReleaseDate}}</td>
    <td>{{$tile.TileHumanSize}}</td>
    <td><a href="/install/{{$tile.MarketplaceSlug}}/tile/{{$tile.TileName}}">Install</a></td>
  </tr>
  {{end}}
  {{end}}
</table>

<h2>Stemcells</h2>
<table>
  <tr>
    <th>Version</th>
    <th>Release Date</th>
    <th>&nbsp;</th>
  </tr>
  {{range $stemcell := .PivNetStemcells}}
  <tr>
    <td>{{$stemcell.Version}}</td>
    <td>{{$stemcell.ReleaseDate}}</td>
    <td>
      {{if $stemcell.Uploaded}}uploaded
      {{else}}<a href="/install/{{$stemcell.MarketplaceSlug}}/stemcell/{{$stemcell.Version}}">Install</a>
      {{end}}
    </td>
  </tr>
  {{end}}
</table>
